.page {
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  min-width: 320px;
  padding: 0;
  text-rendering: optimizeLegibility;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
