.form__item {
  margin: 0;
  padding: 5px 0 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 2px;
}

.form__item::placeholder {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.form__item:focus {
  outline: solid 2px rgba(0, 0, 255);
}