.header {
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  max-width: 880px;
  min-height: 73px;
  width: 100%;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

@media screen and (max-width: 1279px) {
  .header {
    min-height: calc(56px + ((100vw - 320px) * (73 - 56) / (1279 - 320)));
  }
}

@media screen and (max-width: 917px) {
  .header {
    padding-top: calc(28px + ((100vw - 320px) * (45 - 28) / (917 - 320)));
  }
}
