.elements {
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 880px;
  padding: 51px 0 0;
}

@media screen and (max-width: 938px) {
  .footer {
    width: calc(100vw - 38px);
  }
}
