.profile__add-photo-button {
    margin: 0;
    padding: 0;
    border: 2px solid white;
    background-image: url("../../../images/button_type_add-photo.svg");
    background-size: 22px 22px;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    align-self: center;
  }

  @media screen and (max-width: 617px) {
    .profile__add-photo-button {
      padding-top: 36px;
      max-width: 282px;
      width: 100%;
      background-size: calc(16px + ((100vw - 320px) * (22 - 16) / (6127 - 320)))
        calc(16px + ((100vw - 320px) * (22 - 16) / (6127 - 320)));
    }
  }

