.element {
  margin: 0;
  padding: 0;
  max-width: 282px;
  min-height: 361px;
  background-color: white;
  border-radius: 10px;
  color: black;
  overflow: hidden;
  line-height: 0;
  position: relative;
}
