.profile__avatar {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  max-width: 120px;
  justify-self: self-start;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  background: black;
}

.profile__avatar:hover {
  opacity: 0.6;
}

