.popup__close-button {
  margin: 0;
  padding: 0;
  border: none;
  background-image: url("../../../images/button_type_close_form.svg");
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 617px) {
  .popup__close-button {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: -37px;
    right: 0;
  }
}
