.footer {
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 918px) {
  .footer {
    width: calc(100vw - 38px);
    padding-bottom: calc(36px + ((100vw - 320px) * (60 - 36) / (918 - 320)));
  }
}
