@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/page/page.css");
@import url("./blocks/button/button.css");
@import url("./blocks/content/content.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__delete-button/element__delete-button.css");
@import url("./blocks/element/__likes/element__likes.css");
@import url("./blocks/element/__like-button/element__like-button.css");
@import url("./blocks/element/__like-button/_liked/element__like-button_liked.css");
@import url("./blocks/element/__like-button/_hidden/element__like-button_hidden.css");
@import url("./blocks/element/__image/element__image.css");
@import url("./blocks/element/__caption/element__caption.css");
@import url("./blocks/element/__title/element__title.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__edit-button/profile__edit_button.css");
@import url("./blocks/profile/__add-photo-button/profle__add-photo-button.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__avatar-button/profile__avatar-button.css");

@import url("./blocks/profile/__user-name/profile__user-name.css");
@import url("./blocks/profile/__user-description/profile__user-description.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_with-image/popup_with-image.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__image-container/popup__image-container.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/form/form.css");
@import url("./blocks/form/__filedset/form__filedset.css");
@import url("./blocks/form/__title/form__title.css");
@import url("./blocks/form/__title/_type/form__title_type_error.css");
@import url("./blocks/form/__item/form__item.css");
@import url("./blocks/form/__item/_invalid/form__item_invalid.css");
@import url("./blocks/form/__input-error/form__input-error.css");
@import url("./blocks/form/__submit-button/form__submit-button.css");
@import url("./blocks/showroom/showroom.css");
@import url("./blocks/showroom/__image/showroom__image.css");
@import url("./blocks/showroom/__caption/showroom_caption.css");
